.product-container {
  display: flex;
  flex-direction: column;
  width: calc(10% - 16px);

  padding: 16px;
  margin: 8px;
  background: white;
  overflow: hidden;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    text-align: center;
    margin-bottom: 16px;
  }

  .price {
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  img {
    width: 128px;
    margin-bottom: 16px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 30vw;
  margin: 8px;
  padding: 8px;
  display: flex;

  .title {
    flex-grow: 1;
  }

  .multiplier,
  .eq {
    padding: 0px 2px;
  }
}

.items {
  flex-grow: 1;
}

.shopping_cart {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
}

.interface {
  .total {
    padding: 8px;
    font-size: 18px;
  }
}
